
body{ margin-top:50px;}
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px;position: absolute;top: 8px;left: 13px;z-index: 10;}
.tab-pane .list-group input[type="checkbox"]{margin-top: 7px;}
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}
.list-group-item-wrapper{position: relative;}
.star{position: absolute;top: 14px;left: 37px;z-index: 10;}
span.name{margin-left: 45px;}
.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
.glyphicon-refresh-animate {
            font-size: 20px;
            color: #333;
            -animation: spin .7s infinite linear;
            -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }

        .refresh-icon{
            position: relative;
            top: 5px;
            display: none;
        }

form {
    display: none;
    position: relative;
    text-align: right;
    padding: 20px;
    position: fixed;
    right: 100px;
    bottom: 0;
    border: 1px solid #ccc;
    background: #eee;
}

form > i{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 26px !important;
    cursor: pointer;
}


.input-wrapper span{
    padding: 5px;
    display: inline-block;
    width: 50px;
    margin-bottom: 15px;
}

input[type="email"]{
    padding: 5px;
    display: inline-block;
    width: 250px;
}

textarea{
    width: 250px;
    height: 100px;

}