<?php 
foreach ($emails as $email) {
echo '<div class="list-group-item-wrapper"  id="' . $email["msgId"] . '" >
        <span  onclick="toggleStar(Num = ' . $email["msgId"] . ')" class="star glyphicon ' 
        . $email["favorite"]  . '" value="' . $email["msgId"] . '"></span>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="' . $email["msgId"] . '">
            </label>                                                             
        </div>
        <a href="javascript:void(0);" class="list-group-item ' . $email["unread"] . '" onclick="view_email(msgNum = ' . $email["msgId"] . ')" msgid="' . $email["msgId"] . '">
        
        
        <span class="name" style="min-width: 120px; display: inline-block;">' . $email["fromName"] . '</span> 
        <span class="">' . $email["subject"] . '</span>      
        <span class="badge">' . $email["udate"] . '</span>                          
    </a>
    </div>';
}
 ?>