<?php
foreach ($folders as $folder) {                                 
	echo '<li><a class="'.$folder["mailbox_url"].'" onclick="setTimeout(open_current_mailbox, 1)" href="/cake/mailbox/#'.$folder["mailbox_url"].'">
	<span class="badge pull-right">'.$folder["unseen"].'</span>'.$folder["mailbox_name"].'</a></li>';
}
?>